<h2>Paises</h2>

<hr>


<ul class="list-group">


    <!-- el routerlink se hace para ligar el elemento con un link del modulo de router 
        por lo que se debe importar el modulo de router-->

    <!-- El routerlink se hace para saber cual de los elementos estan activos, y a us 
        vez en que ruta se encuentra  -->

    <!-- <li 
    routerLink="home" routerLinkActive="active"
    class="list-group-item">

        Home

    </li>

    
    <li
    routerLink="about" routerLinkActive="active"
    class="list-group-item">

        About

    </li>

    <li 
    routerLink="contact" routerLinkActive="active"
    class="list-group-item">

        Contact

    </li> -->
    
    <li 
    routerLink="countries/by-country" routerLinkActive="active"
    class="list-group-item">

        Por Pais

    </li>
    
    <li 
    routerLink="countries/by-capital" routerLinkActive="active"
    class="list-group-item">

        Por Capital

    </li>

    
    <li 
    routerLink="countries/by-region" routerLinkActive="active"
    class="list-group-item">

        Por Region

    </li>
    
    
    



</ul>