<div>

    <ng-template #loading class="row" class="alert alert-info text-center">

            <h5>No hay paises que mostrar</h5>

    </ng-template>
    
</div>




    <!-- /////// -->
<div *ngIf="country; else loading">

    
    <div class="row mb-3">

        <div class="col-12">


            <h2>Pais: <strong>{{country.name.official}}</strong></h2>


        </div>


    </div>


    <div class="row">

        <div class="col-4">

            <div>

                <h3>Bandera</h3>

                <img class="img-thumbnail" src="{{country.flags.svg}}" alt="">

            </div>

            <div class="mt-3">

                <h3>Escudo</h3>


                <img class="img-thumbnail" src="{{country.coatOfArms.png}}" alt="">



            </div>


        </div>

        <div class="col ">

            <h3>Informacion</h3>

            <ul class="list-group">

                <li class="lsit-group-item">

                    <strong>Poblacion:</strong>

                    {{country.population|number}}

                </li>
                
                <li class="lsit-group-item">

                    <strong>Codigo:</strong>

                    {{country.cca3}}

                </li>

                <li class="lsit-group-item">

                    <strong>Capital:</strong>

                    {{country.capital}}

                </li>

                <li class="lsit-group-item">

                    <strong>Region:</strong>

                    {{country.region}}

                </li>
                
                <li class="lsit-group-item">

                    <strong>Superficie (Km<sup>2</sup>):</strong>

                    {{country.area|number}}

                </li>

                <li class="lsit-group-item">

                    <strong>Fronteras:</strong>

                    {{country.borders}}

                </li>

                <li class="lsit-group-item">

                    <strong>Idioma:</strong>

                    {{country.languages.spa}}

                </li>

                <li class="lsit-group-item">

                    <strong>Poblacion:</strong>

                    {{country.population|number}}

                </li>
                <li class="lsit-group-item">

                    <strong>Latitud y Longitud:</strong>

                    {{country.latlng}}

                </li>

                <li class="lsit-group-item">

                    <strong>Traducciones:</strong>

        

                </li>


            </ul>

            <div>
                
    
                <span class=" badge bg-primary m-1">{{country.translations['ara'].common}}</span>
                <span class=" badge bg-primary m-1">{{country.translations['deu'].common}}</span>
                <span class=" badge bg-primary m-1">{{country.translations['fra'].common}}</span>
                <span class=" badge bg-primary m-1">{{country.translations['ita'].common}}</span>
                <span class=" badge bg-primary m-1">{{country.translations['jpn'].common}}</span>
                <span class=" badge bg-primary m-1">{{country.translations['spa'].common}}</span>
                <span class=" badge bg-primary m-1">{{country.translations['rus'].common}}</span>
                <span class=" badge bg-primary m-1">{{country.translations['por'].common}}</span>
                <span class=" badge bg-primary m-1">{{country.translations['pol'].common}}</span>
                <span class=" badge bg-primary m-1">{{country.translations['per'].common}}</span>
    
                
             </div>


        </div>


    </div>


    <div class="row">

        <shared-show-map [coordinates]="arrayCoordinates"></shared-show-map>
        <button type="button" (click)="imprimir()">Mostrar coordenadas</button>



    </div>


</div>



